## Hands-on - Python ReCap 1

Name: Kamonnun Silarat<br>
Date: 05.03.2025<br>

In [1]:
# 1. Import necessary libraries
import pandas as pd  # pandas is used for handling tabular datasets (dataframes) and performing operations such as reading CSV files
import numpy as np  # numpy is used for numerical computations such as working with arrays and applying mathematical operations

# 2. Load dataset from GitHub URL
file_path = "https://raw.githubusercontent.com/Hamed-Ahmadinia/DASP-2025/main/adult.data.csv"  # URL link to the dataset stored on GitHub

# 3. Read the dataset into a pandas dataframe
df = pd.read_csv(file_path, header=0)  # header=0 means the first row in the CSV is used as column names

# 4. Display the first few rows of the dataframe to confirm the data has been loaded correctly
print("Dataset Preview:")  # Print a label for context
print(df.head(5))  # Display the first 5 rows of the dataset

Dataset Preview:
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

### **Exercise 1: Common Python Operations**
**Question:** Print the sum of the first row's `age` and `hours-per-week`.

In [2]:
# Your code here
sum1_age_hpw = df['age'].iloc[0] + df['hours-per-week'].iloc[0]
print(f"The sum of the first row's age and hours-per-week is {sum1_age_hpw}.")

The sum of the first row's age and hours-per-week is 79.

### **Exercise 2: String Manipulation**
**Question:** Convert the first `workclass` entry to lowercase and strip any leading or trailing spaces.

In [3]:
# Your code here
first_workclass = df['workclass'].iloc[0]
print("First workclass in lowercase and strips:", first_workclass.lower().strip())

First workclass in lowercase and strips: state-gov

### **Exercise 3: Lists in Python**
**Question:** Create a list of the unique values in the `education` column and print its length.

In [4]:
# Your code here
education_list = df['education'].tolist()
unique_edu_values = list(set(education_list))
print(f"List of unique education values:", unique_edu_values)

List of unique education values: ['5th-6th', '1st-4th', '12th', 'Prof-school', 'HS-grad', 'Preschool', 'Masters', 'Some-college', 'Assoc-acdm', 'Doctorate', '10th', '11th', 'Assoc-voc', 'Bachelors', '7th-8th', '9th']

### **Exercise 4: Sets in Python**
**Question:** Check if the value "Self-employed" exists in the unique set of `workclass` values.

In [5]:
# Your code here
workclass_set = set(df['workclass'].dropna())
sets_check = "Self-employed" in workclass_set
print(sets_check)

False

### **Exercise 5: Dictionaries in Python**
**Question:** Create a dictionary from the first row's data. Print the `occupation` value from the dictionary.

In [6]:
# Your code here
data_dict = df.iloc[0].to_dict()
print(f"Data of first row as a dictionary:", data_dict)
print(f"Occupation value from the dictionary:", data_dict["occupation"])

Data of first row as a dictionary: {'age': 39, 'workclass': 'State-gov', 'fnlwgt': 77516, 'education': 'Bachelors', 'education-num': 13, 'marital-status': 'Never-married', 'occupation': 'Adm-clerical', 'relationship': 'Not-in-family', 'race': 'White', 'sex': 'Male', 'capital-gain': 2174, 'capital-loss': 0, 'hours-per-week': 40, 'native-country': 'United-States', 'salary': '<=50K'}
Occupation value from the dictionary: Adm-clerical

### **Exercise 6: Conditional Statements in Python**
**Question:** Write a function that returns "Minor" if the age is less than 18, "Adult" if between 18 and 65, and "Senior" if greater than 65. Test it on the first row's `age`.

In [7]:
# Your code here
age = df['age'].iloc[0]
if age < 18:
    print("Minor")
elif 18 < age < 65:
    print("Adult")
else:
    print("Senior")

Adult

### **Exercise 7: For Loops**
**Question:** Iterate through the first 5 rows of `workclass` and print each entry.

In [8]:
# Your code here
print("The first 5 rows of workclass are:")
for workclass in df['workclass'].head(5):
    print(workclass)

The first 5 rows of workclass are:
State-gov
Self-emp-not-inc
Private
Private
Private

### **Exercise 8: Functions**
**Question:** Define a function `sum_columns` that takes two column names and an index, sums the values of the specified columns at the given index, and returns the result. Test it with `age` and `hours-per-week` at the first row.

In [12]:
# Your code here
def sum_columns(col1, col2, index):
    return df[col1].iloc[index] + df[col2].iloc[index]
print("The sum of age and hours-per-week at first row is:", sum_columns('age', 'hours-per-week', 0))

The sum of age and hours-per-week at first row is: 79

### **Exercise 9: File Handling**
**Question:** Save the first 10 rows of the dataframe to `output.csv` and read it back. Print the first 2 rows from the loaded CSV.

In [13]:
# Your code here
df_csv = df.head(10)
df_csv.to_csv("output.csv", index=False)
read_df = pd.read_csv("output.csv")
print("The first 2 rows from the loaded CSV:\n", read_df.head(2))

The first 2 rows from the loaded CSV:
    age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13

       marital-status       occupation   relationship   race   sex  \
0       Never-married     Adm-clerical  Not-in-family  White  Male
1  Married-civ-spouse  Exec-managerial        Husband  White  Male

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K

### **Exercise 10: Debugging in Python**
**Question:** Write a try/except block to handle a `KeyError` when accessing a non-existent column `"salary"`. Print an appropriate error message when caught.

In [11]:
# Your code here
try:
    print("Attempting to accesss a non-existent column")
    print(df['salary'])
except KeyError:
    print("Error: the 'salary' column does not exist.")
finally:
    print("Debugging completed.")
    
# Additioal note: I observed that the 'salary' column is still exist in the dataframe.

Attempting to accesss a non-existent column
0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 32561, dtype: object
Debugging completed.