## Hands-on - Matrices, DataFrames, and Time-Series Data

Name: Kamonnun Silarat<br>
Date: 12.03.2025<br>

In [1]:
# Import necessary libraries
import pandas as pd  # pandas is used for handling tabular datasets (dataframes) and performing operations such as reading CSV files
import numpy as np  # numpy is used for numerical computations such as working with arrays and applying mathematical operations

# Load dataset from GitHub URL
file_path = "https://raw.githubusercontent.com/Hamed-Ahmadinia/DASP-2025/main/Bike%20Sales.csv"  # URL link to the dataset stored on GitHub

# Read the dataset into a pandas dataframe
df = pd.read_csv(file_path)  # Load the dataset as a pandas DataFrame

# Display the first few rows of the dataframe to confirm the data has been loaded correctly
print("Dataset Preview:")  # Print a label for context
print(df.head(5))  # Display the first 5 rows of the dataset

Dataset Preview:
         Date  Day     Month  Year  Customer_Age       Age_Group  \
0  2013-11-26   26  November  2013            19     Youth (<25)
1  2015-11-26   26  November  2015            19     Youth (<25)
2  2014-03-23   23     March  2014            49  Adults (35-64)
3  2016-03-23   23     March  2016            49  Adults (35-64)
4  2014-05-15   15       May  2014            47  Adults (35-64)

  Customer_Gender    Country             State Product_Category Sub_Category  \
0               M     Canada  British Columbia      Accessories   Bike Racks
1               M     Canada  British Columbia      Accessories   Bike Racks
2               M  Australia   New South Wales      Accessories   Bike Racks
3               M  Australia   New South Wales      Accessories   Bike Racks
4               F  Australia   New South Wales      Accessories   Bike Racks

               Product  Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  \
0  Hitch Rack - 4-Bike               8         45         120     590   360
1  Hitch Rack - 4-Bike               8         45         120     590   360
2  Hitch Rack - 4-Bike              23         45         120    1366  1035
3  Hitch Rack - 4-Bike              20         45         120    1188   900
4  Hitch Rack - 4-Bike               4         45         120     238   180

   Revenue
0      950
1      950
2     2401
3     2088
4      418

### **Exercise 1: Convert the "Date" column to datetime format**
**Question:** Convert the "Date" column to pandas datetime format.

In [2]:
# Your code here:
df['Date'] = pd.to_datetime(df['Date'])
print("Datetime format for Date Column:")
print(df['Date'].head())

Datetime format for Date Column:
0   2013-11-26
1   2015-11-26
2   2014-03-23
3   2016-03-23
4   2014-05-15
Name: Date, dtype: datetime64[ns]

### **Exercise 2: Set the "Date" column as the index**
**Question:** Set the "Date" column as the index of the DataFrame.

In [3]:
# Your code here:
df.set_index('Date', inplace=True)
print("DataFrame with Date Column Index:")
print(df.head())

DataFrame with Date Column Index:
            Day     Month  Year  Customer_Age       Age_Group Customer_Gender  \
Date
2013-11-26   26  November  2013            19     Youth (<25)               M
2015-11-26   26  November  2015            19     Youth (<25)               M
2014-03-23   23     March  2014            49  Adults (35-64)               M
2016-03-23   23     March  2016            49  Adults (35-64)               M
2014-05-15   15       May  2014            47  Adults (35-64)               F

              Country             State Product_Category Sub_Category  \
Date
2013-11-26     Canada  British Columbia      Accessories   Bike Racks
2015-11-26     Canada  British Columbia      Accessories   Bike Racks
2014-03-23  Australia   New South Wales      Accessories   Bike Racks
2016-03-23  Australia   New South Wales      Accessories   Bike Racks
2014-05-15  Australia   New South Wales      Accessories   Bike Racks

                        Product  Order_Quantity  Unit_Cost  Unit_Price  \
Date
2013-11-26  Hitch Rack - 4-Bike               8         45         120
2015-11-26  Hitch Rack - 4-Bike               8         45         120
2014-03-23  Hitch Rack - 4-Bike              23         45         120
2016-03-23  Hitch Rack - 4-Bike              20         45         120
2014-05-15  Hitch Rack - 4-Bike               4         45         120

            Profit  Cost  Revenue
Date
2013-11-26     590   360      950
2015-11-26     590   360      950
2014-03-23    1366  1035     2401
2016-03-23    1188   900     2088
2014-05-15     238   180      418

### **Exercise 3: Slice the data from '2013-01-01' to '2013-12-31'**
**Question:** Slice the DataFrame to show data for the year 2013.

In [14]:
# Your code here:
df_2013 = df.loc['2013-01-01':'2013-12-31']
print("Slicing Data for the year 2013:")
display(df_2013) 
# Additional Note: I used disyplay instead to show the data within the range in more clear vision.

Slicing Data for the year 2013:

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2013-07-30,30,July,2013,32,Young Adults (25-34),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,398,360,758
2013-07-15,15,July,2013,34,Young Adults (25-34),M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,349,315,664
2013-08-02,2,August,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,369,225,594
2013-09-02,2,September,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,148,90,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-10,10,December,2013,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",8,24,64,207,192,399
2013-10-04,4,October,2013,20,Youth (<25),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",16,24,64,497,384,881
2013-10-02,2,October,2013,34,Young Adults (25-34),M,United States,California,Clothing,Vests,"Classic Vest, S",25,24,64,968,600,1568
2013-07-08,8,July,2013,29,Young Adults (25-34),M,Germany,Hessen,Clothing,Vests,"Classic Vest, L",20,24,64,710,480,1190
2013-12-28,28,December,2013,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",2,24,64,75,48,123

### **Exercise 4: Calculate cumulative revenue**
**Question:** Add a new column 'Cumulative_Revenue' that shows the cumulative sum of the revenue.

In [17]:
# Your code here:
df['Cumulative_Revenue'] = df['Revenue'].cumsum()
print("Cumulative Revenue Calculation:")
print(df[['Revenue', 'Cumulative_Revenue']].head())

Cumulative Revenue Calculation:
            Revenue  Cumulative_Revenue
Date
2013-11-26      950                 950
2015-11-26      950                1900
2014-03-23     2401                4301
2016-03-23     2088                6389
2014-05-15      418                6807

### **Exercise 5: Downsample to show monthly total revenue (Hint: Use resampling)**
**Question:** Resample the data to calculate total monthly revenue.

In [19]:
# Your code here:
monthly_revenue = df['Revenue'].resample('M').sum()
print("Total Monthly Revenue:")
print(monthly_revenue.head())

Total Monthly Revenue:
Date
2011-01-31    675193
2011-02-28    637598
2011-03-31    708517
2011-04-30    698782
2011-05-31    734537
Freq: M, Name: Revenue, dtype: int64